<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>437108794935-ssdh1lq44km1gleo86qdn367udqh4ai0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437108794935-ssdh1lq44km1gleo86qdn367udqh4ai0</string>
	<key>API_KEY</key>
	<string>AIzaSyDROmtXCHMAMf5CtbbfDn7oGkFB_ibX-HA</string>
	<key>GCM_SENDER_ID</key>
	<string>437108794935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kengoinaba.onsen2</string>
	<key>PROJECT_ID</key>
	<string>gopgop-43349</string>
	<key>STORAGE_BUCKET</key>
	<string>gopgop-43349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:437108794935:ios:527e2a7b48345791</string>
	<key>DATABASE_URL</key>
	<string>https://gopgop-43349.firebaseio.com</string>
</dict>
</plist>